html {
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
    Roboto, Helvetica Neue, sans-serif;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Deactivate auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body {
  margin: 0;
  background-color: #dde0e4;
}

.main {
  background-color: #dde0e4;
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.body {
  background-color: #f1f2f4;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5px;
}

.text-container h1, .text-container h3 {
  text-align: left;
  padding: 0%;
  margin: 5px;
}

.text-container h1 {
  font-size: 16px;
}

.text-container h3 {
  font-size: 12px;
  font-weight: normal;
}

.text-group{
  margin-top: 0px;
  padding: 0px;
  flex-grow: 1;
  padding-left: 5px;
}

h6 {
  margin: 0px
}

p {
  margin: 0px;
  font-size: 11px
}

.cardElement {
  display: flex;
  justify-content: space-between;
}

.card-wrapper {
  border-bottom: 1px solid grey;
  padding-bottom: 7px;
}
